http://www.goDASHbed.org {
  # needed for proxy to find html content for external IP
  proxy ./ http://10.0.0.1 {
     max_fails 1
     # i think this ignores the ssl errors
     insecure_skip_verify
  }
  gzip
  # needed for location of content to offer
  root /var/www/html
  log access.log
}
